

#Shapka {
width: 100%;
height: 100px;
text-align: center;
border-radius: 4px solid silver;
background-image: url(./123.jfif);
background-repeat: 3    ;
color:#fff;
line-height: 100px;
margin-bottom: 50px;}

#Navi{
    list-style: none;
    display: block;
    float: left;
    width: 80%;
    margin-left: 20%;
    text-align: center;
}

#Navi li{
display: inline;
background: #fff;
border: 1px solid silver;
padding: 0 20px;
cursor: pointer;
}

#Navi li:hover {
color: white;
background:black;
border-radius: 5px;
border-color: white;
}

#Navi li:not(:last-of-type) {
margin-right: 10px;
}

#Закладки{
    list-style: none;
    display: block;
    float: left;
    width: 80%;
    margin-left: 20%;
    text-align: center;
   
}

#Закладки li{
display: block;
background: #fff;
border: 1px solid silver;
padding: 0 20px;
cursor: pointer;
}

#Закладки li:hover {
color: red;
background:black;
border-radius: 5px;
border-color: red;
}

#fr {
    list-style: none;
    display: block;
    float: left;
    width: 80%;
    margin-left: 20%;
    text-align: center;
}

#fr  li{
display: inline;
background: #fff;
border: 1px solid silver;
padding: 0 20px;
cursor: pointer;
}

#fr  li:hover {
color: white;
background:black;
border-radius: 5px;
border-color: white;
}

#fr  li:not(:last-of-type) {
margin-right: 10px;
}


#fr {
    list-style: none;
    display: block;
    float: left;
    width: 80%;
    margin-left: 20%;
    text-align: center;
}

#fr  li{
display: inline;
background: #fff;
border: 1px solid silver;
padding: 0 20px;
cursor: pointer;
}

#fr  li:hover {
color: white;
background:black;
border-radius: 5px;
border-color: white;
}

#fr li:not(:last-of-type) {
margin-right: 10px;
}
